<div class="comments">
    <h1>Comments</h1>
    <%= form_for @comment do |c| %>
        <%= c.text_field :author, :placeholder => 'Name' %>
        <%= c.text_field :email, :placeholder => 'Email' %>
        <%= c.text_area :text, :rows => 5, :placeholder => 'Content' %>
        <%= submit_tag("Submit") %>
    <% end %>
    <ul>
        <% @comments.each_with_index do |comment| %>
            <li>
                <h6 class="metadata"><%= comment.author %></h3>
                <p><%= comment.text %>
            </li>
        <% end %>
    </ul>
</div>
