<!DOCTYPE html>
<html>
<head>
  <title>PersonalRailsSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag asset_path('/assets/profile-3e402a1a8b9d6ea4e569c3cd79ec2e3a060092a4f8522ac20e5697932c5c1709.jpg'), :rel => 'icon', :type =>  'image/jpg' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
